/* .hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
}

.hb {
  font-size: 27px;
  padding: 0 9px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: #2780e3;
}

.hamburger span::before,
.hamburger span::after {
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  height: 8px;
  background-color: #2780e3;
  content: "";
}

.hamburger span::before {
  top: -20px;
}

.hamburger span::after {
  bottom: -20px;
} */

/* .litem {
  cursor: pointer;
}
 */





/* #wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #333;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {
  #wrapper {
    padding-left: 0;
  }
  #sidebar-wrapper {
    left: 0;
  }
  #wrapper.active {
    position: relative;
    left: 250px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
}

.shead {
  color: #fff;
} */