@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext);


agm-map {
  height: 500px;
}




/*
    light theme sidebar menu
*/
.nav .click { color: white; }
.nav .click .menu { color: #6f788d; }
.nav .click .menu:hover {
    background-color: #404757;
               color: #e6e9ed;
}

.sidebar .title {
    background-color: #333c48;
         font-weight: 600;
               color: #e6e9ed;
}

.sidebar ul.menu { background-color: #262a34; }
.sidebar ul.menu li { color: #5e6776; }
.sidebar ul.menu li a { color: #7d899c; }
.sidebar ul.menu li a:hover {
    background-color: #2e333e;
         font-weight: 600;
               color: #e95656;
}

.sidebar ul.menu li a.current {
    border-right: 2px solid #e95656;
     font-weight: 600;
           color: #e6e9ed;
}

/*
    notifications
*/
.sidebar span.notifi {
    color: #e95656;
}

@media only screen and (min-width: 768px) {

    .sidebar {
	background-color: #262a34;
    }

}

/*
    simplebar
*/
.simplebar-scrollbar {
    background: #596072;
         width: 5px;
}



/*
    responsive menu
*/
.nav .click {
    cursor: pointer;
    margin: 5px 20px 0 0;
     float: right;
}

.nav .click .menu {
    border-radius: 30px;
        font-size: 14px;
          padding: 7px 8px;
}

.nav .responsive { display: none; }
.nav .expand-responsive { display: block !important; }

/*
    sidebar
*/
.sidebar .title {
    font-size: 1.125em;
      padding: 5px 20px 0 25px;
       height: 42px;
}

/*
    notifications
*/
.sidebar span.notifi {
    border-radius: 3px;
      margin-left: 30px;
      font-weight: 600;
	  padding: 0 5px 2px;
}

.sidebar ul.menu {
    list-style: none;
        height: 300px;
        margin: 0;
}

.sidebar ul.menu ul {
    list-style: none;
        margin: 0;
}

.sidebar ul.menu li {
    line-height: 33px;
     margin-top: 15px;
        padding: 0;
}

.sidebar ul.menu li ul li {
    padding-top: 0;
      font-size: 1em;
         margin: 0;
}

.sidebar ul.menu li span span {
    padding: 0 15px 0 25px;
    display: block;
}

.sidebar ul.menu li .icon {
    margin-right: 10px;
       font-size: 12px;
        position: relative;
	     top: -2px;
}

.sidebar ul.menu li a {
    text-decoration: none;
       padding-left: 25px;
            display: block;
}

@media only screen and (min-width: 768px) {

    .sidebar ul.menu {
	height: 660px;
    }

    .nav .click { visibility: hidden; }
    .nav .responsive { display: block; }

    .sidebar {
	position: fixed;
	  bottom: 0;
	   width: 230px;
	     top: 0;
    }

    .content-wrapper {
	margin-left: 243px;
  margin-top: -27px;
    }

}

@import url(https://css-ui.github.io/css/cssui.min.css);

[data-simplebar]{position:relative;z-index:0;overflow:auto;-webkit-overflow-scrolling:touch}[data-simplebar=init]{display:-webkit-box;display:-ms-flexbox;display:flex;overflow:hidden}.simplebar-scroll-content{overflow-x:hidden;overflow-y:scroll;min-width:100%;box-sizing:content-box}.simplebar-content{overflow-x:scroll;overflow-y:hidden;box-sizing:border-box;min-height:100%}.simplebar-track{z-index:1;position:absolute;right:0;bottom:0;width:11px}.simplebar-scrollbar{position:absolute;right:2px;border-radius:7px;min-height:10px;width:7px;opacity:0;-webkit-transition:opacity .2s linear;transition:opacity .2s linear;background:#000;background-clip:padding-box}.simplebar-track:hover .simplebar-scrollbar{opacity:.5;-webkit-transition:opacity 0 linear;transition:opacity 0 linear}.simplebar-track .simplebar-scrollbar.visible{opacity:.5}.simplebar-track.horizontal{left:0;width:auto;height:11px}.simplebar-track.vertical{top:0}.horizontal.simplebar-track .simplebar-scrollbar{right:auto;top:2px;height:7px;min-height:0;min-width:10px;width:auto}
